<div class="container mt-15 mb-2">
    <h1>
        Facials
    </h1>
    <!-- <h1>How to <span class="span">Book</span>Your  slot</h1> -->
    <div class="row mt-4">

        <div class="col-lg-4">
            <div class=" card stepbox">
                <img src="/download (8).jpeg" alt="">

                <div class="card-body text-center">
                    <h1 class="card-title">
                        Classic Facial
                    </h1>
                </div>

            </div>

        </div>

        <div class="col-lg-4">
            <div class=" card stepbox">

                <img src="/download (9).jpeg" alt="">
                <div class="card-body text-center">
                    <h1 class="card-title">
                        Aging skin

                    </h1>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class=" card stepbox">

                <img src="/download (2).jpeg" alt="..">
                <div class="card-body text-center">
                    <h1 class="card-title">
                        Brightening facial

                    </h1>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class=" card stepbox">

                <img src="/images (8).jpeg" alt="">
                <div class="card-body text-center">
                    <h1 class="card-title">
                        Hydrating facial

                    </h1>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class=" card stepbox">

                <img src="/images (9).jpeg" alt="">
                <div class="card-body text-center">

                    <h1 class="card-title">
                        Chemical peel
                    </h1>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class=" card stepbox">

                <img src="/download (11).jpeg" alt="">
                <div class="card-body text-center">

                    <h1 class="card-title">
                        Acne facial
                    </h1>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class=" card stepbox">

                <img src="/download (11).jpeg" alt="">
                <div class="card-body text-center">

                    <h1 class="card-title">
                        Acne facial
                    </h1>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class=" card stepbox">


                <img src="/download (11).jpeg" alt="">
                <div class="card-body text-center">

                    <h1 class="card-title">
                        Acne facial
                    </h1>
                </div>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-center mb-2">
        <button class="btn btn-primary text-Blue" routerLink="/back">Back</button>
      </div>
</div>
<router-outlet></router-outlet>