
<header>
  <a class="navbar-brand" routerLink="home"> <span style="color: rgb(222, 247, 5);">Anitha's</span> Glamour  Heaven</a>

</header>


<router-outlet></router-outlet>

<body>
  <aside class="sidebar">
   <div class="wi">
    <div class="logo">
      <img src="/favicon.ico" alt="">
      <!-- <h2>Glamours Heaven</h2> -->
    </div>
    <ul class="links ">
      <li>
        <span class="material-symbols-outlined">home</span>
        <a href="home">Home</a>
      </li>
      <li>
        <span class="material-symbols-outlined">
          info
        </span>
        <a href="services">Services</a>

      </li>
      <li>
        <span class="material-symbols-outlined">
          account_circle
        </span>
        <a href="aboutus">About Us</a>
      </li>


      <li>
        <span class="material-symbols-outlined">mail</span>
        <a href="message">Message</a>
      </li>
      <li>
        <span class="material-symbols-outlined">settings</span>
        <a href="#">Settings</a>
      </li>
      <li class="logout-link">
        <span class="material-symbols-outlined">login</span>
        <a href="login">Login</a>
      </li>
    </ul>
   </div>
  </aside>
 
</body>


