
  .container {
    max-width: 400px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom ,rgb(125, 223, 240),rgb(123, 123, 243) )
  }
  
  .btn-block {
    width: 100%;
  }
  label{
    font-weight:bolder;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  button{
    color: rgb(217, 217, 233);
    background-color: rgb(52, 10, 240);
display: block;
margin-left: 120px;
  }