 <!-- /istockphoto-1500300731-1024x1024_cleanup.jpg
  /istockphoto-1505144947-1024x1024.jpg
   /istockphoto-1688449956-1024x1024.jpg -->
<div class="container ">
    <h1>
Nail Care and Designs    </h1>
    <!-- <h1>How to <span class="span">Book</span>Your  slot</h1> -->
    <div class="row ">

        <div class="col-lg-4">
            <div class=" card stepbox">

                <img src="  /istockphoto-881865016-1024x1024_cleanup.jpg

                " alt="" class="card-img-top">
                <div class="card-body text-center btn-primary">
                    <h1 class="card-title"> Hair spa for coloured hair</h1>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="card stepbox">
                <img src="/istockphoto-1256490101-1024x1024_cleanup.jpg 
                " class="card-img-top" alt="Hair spa for dandruff">
                <div class="card-body text-center">
                    <h1 class="card-title">Hair spa for dandruff</h1>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class=" card stepbox">
                
                <img src="/istockphoto-1002281136-1024x1024_cleanup.jpg
                " alt="">
                <div class="card-body text-center">
                <h1 class="card-title">
                    Hair spa for hair fall

                </h1>
            </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class=" card stepbox">
               
                <img src="/istockphoto-1458684276-1024x1024_cleanup.jpg
                " alt="">
                <div class="card-body text-center">
                <h1 class="card-title">
                    Steaming
                </h1>
            </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class=" card stepbox">
               
                <img src="/istockphoto-1500300731-1024x1024_cleanup.jpg
                " alt="">
                <div class="card-body text-center">
                <h1 class="card-title">
                    Steaming
                </h1>
            </div>
            </div>

        </div>
    </div>
</div>
<router-outlet></router-outlet>