<div class="container ">
    <h1>
        Hair spa and massage
    </h1>
    <!-- <h1>How to <span class="span">Book</span>Your  slot</h1> -->
    <div class="row ">

        <div class="col-lg-4">
            <div class=" card stepbox">

                <img src="/images (12).jpeg" alt="" class="card-img-top">
                <div class="card-body text-center btn-primary">
                    <h1 class="card-title"> Hair spa for coloured hair</h1>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="card stepbox">
                <img src="/download (19).jpeg" class="card-img-top" alt="Hair spa for dandruff">
                <div class="card-body text-center">
                    <h1 class="card-title">Hair spa for dandruff</h1>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class=" card stepbox">
                
                <img src="/images (14).jpeg" alt="">
                <div class="card-body text-center">
                <h1 class="card-title">
                    Hair spa for hair fall

                </h1>
            </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class=" card stepbox">
               
                <img src="/images (13).jpeg" alt="">
                <div class="card-body text-center">
                <h1 class="card-title">
                    Steaming
                </h1>
            </div>
            </div>

        </div>
    </div>
</div>
<router-outlet></router-outlet>