
.stepbox img{
    object-fit:fill;
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 20px;
}
/* Default margin for larger screens */
.stepbox {
    margin-top: 15px;
    border-radius: 60px;
    background-color: black;
  }
  .card-title{
background-color: black;
  }
  
  /* Increase margin for smaller screens */
  @media (max-width: 2560px) {
    .stepbox {
      margin-bottom: 30px;
      border-radius: 20px;
    }
  }
  .container h1{
    color: rgb(21, 8, 94);
    /* text-decoration: underline; */
    text-align: center;
    font-family: "Calistoga", serif;
    font-weight: 800;
    font-style: normal;
  }
  .stepbox h1{
    color: rgb(1, 143, 168);
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 25px;
  }
